<link rel="stylesheet" href="/css/index.css">
<div id="contenedor">
    <div id="frase">
        <p>¡La más inteligente de las especies, no es la que sobrevive, <br> ni la más fuerte, es la
            que sabe adaptarse al cambio!</p>
    </div>
    <div id="busqueda">
        <form action="/" method="post">
            <div id="contenedordiv">
                <h1>Si ya estas eres usuario ingresa, si aun no da clic en la fecha</h1>
            <label>Cédula:</label>
            <input type="text" name="usernameCliente" id="Nombres">
            </div>
            <button type="submit" id="siguiente"><img src="/img/flechaIzquierda.png" id="flecha"></button>
        </form>
    </div>
</div>