<link rel="stylesheet" href="">
<div id="contenido">
    {{#each lista}}
    <form action="/tipoAmbiente/Editar/{{idTipoAmbiente}}" method="post">
        <div id="titulo">
            <p>Editar Tipo Ambiente</p>
        </div>
        <div id="NombreTipoAmbiente">
            <label>Nombre Tipo Ambiente:</label>
            <input type="text" name="nombreTipoAmbiente" required value="{{nombreTipoAmbiente}}">
        </div>
        <div id="EstadoTipoAmbiente">
            <label>Estado Tipo Ambiente</label>
            <input type="text" name="estadoTipoAmbiente" required value="{{estadoTipoAmbiente}}">
        </div>
        <div id="boton">
            <button type="submit">Actualizar</button>
        </div>
    </form>
    {{/each}}
</div>