<link rel="stylesheet" href="">
<div id="contenedor">
    <div class="row">
        {{#each lista}}
        <div id="tarjeta">
            <div id="idImpuesto">
                <p>{{idImpuesto}}</p>
            </div>
            <div id="nombreImpuesto">
                {{nombreImpuesto}}
            </div>
            <div id="codigoImpuesto">
                {{codigoImpuesto}}
            </div>
            <div id="boton">
                <div id="editar">
                    <a href=""><button type="button">Editar</button></a>
                </div>
                <div id="Eliminar">
                    <a href=""><button type="button">Eliminar</button></a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>