#usuario{
    background-color: white;
    width: 100%;
    height: 100%;
    max-width: 10%;
    max-height: 25%;
    position: absolute;
    left: 88%;
    top: 10%;
    text-align: center;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    box-shadow: 0 0 10px rgb(147, 175, 252);
}

#Fecha{
    display: none;
}

#usuario img{
    width: 100%;
    height: 80%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#usuario #boton button{
    border-radius: 0px;
    background-image: radial-gradient(100% 100% at 100% 0, #ffffff 0, #ffffff 100%);
    color: black;
}

#contenido{
    position: absolute;
    top: 15%;
    left: 10%;
    width: 100%;
    height: 100%;
    max-width: 70%;
    max-height: 80%;
    background-color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 20px;
}

#DatoNegocio{
    position: absolute;
    top: 2%;
    width: 100%;
}

#NombreNegocio{
    position: absolute;
    top: 13%;
    width: 100%;
}

#RUC{
    position: absolute;
    top: 26%;
    width: 100%;
}

#DIRECCION{
    position: absolute;
    top: 39%;
    width: 100%;
}

#Contactos{
    position: absolute;
    top: 52%;
    width: 100%;
}

#CELULAR{
    position: absolute;
    top: 65%;
    width: 100%;
}

#TELEFONO{
    position: absolute;
    top: 78%;
    width: 100%;
}

#contenido #boton{
    position: absolute;
    bottom: 0%;
    width: 80%;
    left: 10%;
}

label{
    position: absolute;
    left: 10%;
}
input{
    position: absolute;
    width: 55%;
    left: 30%;
    border-color: transparent;
    border-bottom: 1px ;
    border-bottom: 1px #5468ff solid;
}