<link rel="stylesheet" href="">
<div id="contenedor">
    {{#each lista}}
    <form action="/impuestoRenta/editar/{{idImpuestoRenta}}" method="post">
        <div id="Titulo">Editar Impuesto Renta</div>
        <div id="NombreImpuestoRenta">
            <label>Nombre Impuesto Renta:</label>
            <input type="text" name="nombreImpuestoRenta" id="nombreImpuestoRenta" value="{{nombreImpuestoRenta}}" required>
        </div>
        <div id="CodigoImpuestoRenta">
            <label>Codigo Impuesto Renta</label>
            <input type="text" name="codigoImpuestoRenta" id="codigoImpuestoRenta" value="{{codigoImpuestoRenta}}" required>
        </div>
        <div id="boton">
            <button type="submit">Actualizar</button>
        </div>
    </form>
    {{/each}}
</div>