<link rel="stylesheet" href="/css/facturaElectronica/tarifaIva/editar.css">
<div id="contenedor">
    {{#each lista}}
    <form action="/tarifaIva/editar/{{idTarifaIva}}" method="post">
    <div id="titulo">
        <p>Agregar Tarifa Iva</p>
    </div>
    <div id="NombreTarifaIva">
        <label>Nombre Tarifa Iva:</label>
        <input type="text" name="nombreTarifaIva" value="{{nombreTarifaIva}}" required>
    </div>
    <div id="CodigoTarifaIva">
        <label>Codigo Tarifa Iva:</label>
        <input type="text" name="codigoTarifaIva" value="{{codigoTarifaIva}}" required>
    </div>
    <div id="boton">
        <button type="submit">Actualizar</button>
    </div>
    </form>
    {{/each}}
</div>