<LINK REL=StyleSheet HREF="/css/cajas/cajasagregar.css" TYPE="text/css" MEDIA=screen>
<div id="contenedor">
    <form action="/cajas/agregar" method="post">
        
       
        <div id="FECHA">
            <label>Fecha Caja:</label>
            <input type="date" name="fechaCaja" id="fechaCaja">
        </div>
        <div id="TOTAL">
            <label>Valor total Caja:</label>
            <input type="number" name="valorTotalCaja" id="valorTotalCaja">
        </div>
    
        <button type="submit" id="guardar">Guardar</button>

    </form>
</div>
<script src="/js/eleccionId.js"></script>