<LINK REL=StyleSheet HREF="/css/usuario/login.css" TYPE="text/css" MEDIA=screen>
<div id="contenedor">
  {{#each Usuario}}
  <form action="/Login/{{idUsuarios}}" method="POST" id="ingresar">
    <div id="titulo">
      Login
    </div>
    <div id="imagen">
      <img src="/img/usuario/{{imagenUsuario}}">
    </div>
    {{/each}}
    {{#each Usuario}}
    <div id="datos">
      <input type="text" id="Nombre" name="username" placeholder="Usuario:" value="{{usernameUsuarios}}" readonly>
    </div>
    {{/each}}
    <div id="Contraseña">
      <input type="password" id="contraseña" name="password" placeholder="Contraseña:">
    </div>
    <div id="boton">
      <button type="submit">Ingresar</button>
    </div>
  </form>
</div>