<LINK REL=StyleSheet HREF="/css/usuario/registro.css" TYPE="text/css" MEDIA=screen>
<form action="/Registro" method="POST" enctype="multipart/form-data">
  <div id="contenedor">
    <div id="titulo">
      <p>Registro Unico
        {{#each usuario}}
        <input type="text" name="idUsuarios" id="numero" value="{{maximo}}" readonly>
        {{/each}}
      </p>
    </div>
    <div id="imagenUsuario">
      <label>Imagen:</label>
      <div id="cambioImagen">
        <img src="/img/NoImagen.jpg" id="imagenPrevisualizacion">
      </div>
      <input type="file" name="imagenUsuario" id="seleccionArchivos" accept="image/*" required>
    </div>
    <div id="NombresUsuarios">
      <label>Nombres:</label>
      <input type="text" name="NombresUsuarios" id="nombres" required>
    </div>
    <div id="ApellidosUsuarios">
      <label>Apellidos:</label>
      <input type="text" name="ApellidosUsuarios" id="apellidos" required>
    </div>
    <div id="Cedula">
      <label>Cedula:</label>
      <input type="text" name="CedulaUsuario" id="cedula" required>
    </div>
    <div id="EmailUsuarios">
      <label>Email:</label>
      <input type="text" name="emailUsuarios" id="email" required>
    </div>
    <div id="NombreUsuario">
      <label>Usuario:</label>
      <input type="text" id="Nombre" name="username" required>
    </div>
    <div id="contraseñas">
      <label>Contraseña:</label>
      <input type="password" id="Contraseña" name="password" required>
    </div>
    <div id="guardar">
      <div id="boton">
        <button type="submit">Guardar</button>
      </div>
    </div>
  </div>
</form>
<script src="/js/numero.js"></script>
<script src="/js/previsualizacion.js"></script>