#boton{
    border-radius: 20px;
    width: 100%;
    height: auto;
    background-color: black;
    color: rgb(255, 255, 255);
    overflow: hidden;
    display: flex;  
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border-color: #ffff;
    border-radius: 4px;
}
#boton:focus{
    outline: none;
}
#boton:hover{
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #8e9bfc 100%);
}
#boton a{
    color: #ffff;
}
#guardar{
    width: 500px;
}

#Perfil{
    width: 100%;
    display: block;
    margin: auto;
}
#perfil{
    width: 100%;
    max-width: 100px;
    position: absolute;
    top: 5px;
    left: 92%;
}
#Perfil{
    position: absolute;
    top: 9px;
    color: #fff;
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;    
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
}
#perfil a{
    text-decoration: none;
    color: #ffff;
}
#Perfil:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    outline: none;
  }
  
#Perfil:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
    outline: none;
}
  
#Perfil:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
    outline: none;
}

#contenido{
    position: absolute;
    top: 5%;
    left: 2%;
    width: 90%;
}

#contenido .row{
    padding: 10px;
    gap: 20px;
}
#contenido .card{
    border-radius: 22px;
    border: 1px solid black;
    width: auto;
    height: auto;
    overflow: hidden;
    display: flex;
    color: black;
}
.card-body{
    padding: auto;
    margin-left: 1px;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
#letra{
    display: block;
    margin: auto;
    color: #ffff;
}
@media(max-width: 840px){
    #letras{
        overflow: hidden;
        height: auto;
    }
}