<link rel="stylesheet" href="/css/clientes/clientesAgregar.css">
<form action="/clientes/agregar/{{user.idUsuarios}}" method="POST" id="f1">
    <p id="p">Agregar Cliente</p>
    <div id="contenedor_1">
        <div id="lblncedula">
            <label id="">Cédula:</label>
            <input type="text" name="username" id="username">
        </div>
        <div id="lblnprovedor">
            <label id="">Nombre y Apellido:</label>
            <input type="text" name="Nombres" id="Nombres">
        </div>
        <div id="lbldireccion">
            <label id="">Dirección :</label>
            <input type="text" name="Direccion" id="Direccion">
        </div>
        <div id="lblnumero">
            <label id="">Celular:</label>
            <input type="text" name="Celular" id="Numero">
        </div>
        <div id="lblcodigo">
            <label id="">Teléfono:</label>
            <input type="text" name="telefono" id="telefono">
        </div>
        <button type="submit" id="guardar1">Guardar</button>
    </div>
</form>