<link rel="stylesheet" href="/css/clientes/clientesAgregar.css">
<div id="contenedor">
    <form action="/clientes/agregar/{{user.idDueñoTienda}}" method="POST" id="f1">
        <p>Agregar Cliente</p>
        <div id="USERNAME">
            <label id="">Cédula:</label>
            <input type="text" name="username" id="username" required>
        </div>
        <div id="NOMBRES">
            <label id="">Nombre y Apellido:</label>
            <input type="text" name="Nombres" id="Nombres" required>
        </div>
        <div id="DIRECCION">
            <label id="">Dirección :</label>
            <input type="text" name="Direccion" id="Direccion" required>
        </div>
        <div id="CELULAR">
            <label id="">Celular:</label>
            <input type="text" name="Celular" id="Numero" required>
        </div>
        <div id="TELEFONO">
            <label id="">Teléfono:</label>
            <input type="text" name="telefono" id="telefono">
        </div>
        <div id="boton">
            <button type="submit" id="guardar1">Guardar</button>
        </div>
</div>
</form>