<link rel=StyleSheet href="/css/Encomiendas/desembarque.css" type="text/css" media=screen>
{{>navigation}}

<h4 id="desem"> DESEMBARQUE DE  ENCOMIENDAS </h4>

<div id="contenedor">
<div id="desem1-container">
    <table>
      <thead>
        <tr>
          <th> PLACA </th>
          <th> Nº DE BUS </th>
          <th> HORA DE SALIDA </th>
        </tr>
      </thead>

     <tr>
        <td> MKC0080 </td>
        <td> 255 </td>
        <td> 9:00 </td>
     </tr>
     <tr>
        <td> PKD2580 </td>
        <td> 256 </td>
        <td> 10:00 </td>
     </tr>
     <tr>
        <td> UDP5620 </td>
        <td> 257 </td>
        <td> 11:00 </td>
     </tr>
      <tr>
        <td> PDK7800 </td>
        <td> 258 </td>
        <td> 12:00 </td>
     </tr>
    </table>
  </div>

   <div id="desem-container">
    <table>
      <thead>
        <tr>
          <th> Nº GUIA </th>
          <th> ORIGEN </th>
          <th> DESTINO </th>
          <th> CANTIDAD </th>
          <th> DETALLE </th>
          <th> PESO KG </th>
          <th> PRECIO </th>
          <th> ESTADO </th>
        </tr>
      </thead>

     <tr>
        <td> 1D48SD45 </td>
        <td> Guayaquil </td>
        <td> Quito </td>
        <td> 4 </td>
        <td> Paquete mediano </td>
        <td> 2 </td>
        <td> 3.00 </td>
        <td> Ingresado </td>
     </tr>
     <tr>
        <td> S8SD8S8D </td>
        <td> Machachi </td>
        <td> Quito </td>
        <td> 1 </td>
        <td> Sobre manila </td>
        <td> 1 </td>
        <td> 2.50 </td>
        <td> Despachado </td>
     </tr>
     <tr>
        <td> 8DF8D46W </td>
        <td> Quito </td>
        <td> Loja </td>
        <td> 4 </td>
        <td> Bobinas </td>
        <td> 20 </td>
        <td> 45.00 </td>
        <td> En camino </td>
     </tr>
      <tr>
        <td> 35A9D7G </td>
        <td> Guayaquil </td>
        <td> Duran </td>
        <td> 3 </td>
        <td> Caja grande </td>
        <td> 10 </td>
        <td> 12.00 </td>
        <td> Entregado </td>
     </tr>
    
    </table>

  </div>
</div>
<div id="contenedor-btn">
 <button type="button">Regresar</button>
  <button type="button">Aceptar</button>
   </div>
