<link rel=StyleSheet href="/css/Encomiendas/entrega.css" type="text/css" media=screen>
{{>navigation}}

<h3 id="trega"> ENTREGA DE  ENCOMIENDAS </h3>

<body>
  <div id="entre-container">
    <table>
      <thead>
        <tr>
          <th> Nº GUIA </th>
          <th> CEDULA </th>
          <th> NOMBRE </th>
          <th> TIPO DE ENCOMIENDA </th>
          <th> ESTADO </th>
          <th> FECHA </th>
          <th> HORA </th>
          <th> ORIGEN </th>
          
        </tr>
      </thead>

     <tr>
        <td> 1D48SD45 </td>
        <td> 1721518627 </td>
        <td> Emerson </td>
        <td> Ropa </td>
        <td> Entregado </td>
        <td> 02/10/2022 </td>
        <td> 9:00 </td>
        <td> Guayaquil </td>
     </tr>
     <tr>
        <td> S8SD8S8D </td>
        <td> 1719278861 </td>
        <td> Erick </td>
        <td> Alimentos </td>
        <td> Entregado </td>
        <td> 01/10/2022 </td>
        <td> 08:30 </td>
        <td> Machachi </td>
     </tr>
     <tr>
        <td> 8DF8D46W </td>
        <td> 1718006800 </td>
        <td> Jhoanna </td>
        <td> Medicinas </td>
        <td> Entregado </td>
        <td> 30/09/2022 </td>
        <td> 07:00 </td>
        <td> Quito </td>
     </tr>
      <tr>
        <td> 35A9D7G </td>
        <td> 1713240123 </td>
        <td> Patricio </td>
        <td> Alimentos </td>
        <td> Entregado </td>
        <td> 02/10/2022 </td>
        <td> 12:00 </td>
        <td> Duran </td>
     </tr>
    
    </table>
  </div>
</body>