<link rel="StyleSheet" href="/css/Encomiendas/inicio.css" type="text/css" media="screen">
{{>navigation}}


<h1 id="title" > MODULO ENCOMIENDAS </h1>

<div id="contenedor">

  <div id="detalle-contenedor-1">

    <img id="img-inicio" src="/img/Encomiendas/ingreso.png" alt="ingreso" />
    <span>INGRESO</span>

  </div>

  <a href="/Encomiendas/listado" id="detalle-contenedor-2">

    <img id="img-listado" src="/img/Encomiendas/listado.png" alt="listado" />
    <span>LISTADO</span>

  </a>

  <a href="/Encomiendas/despacho" id="detalle-contenedor-3">

    <img id="img-despacho" src="/img/Encomiendas/despacho.png" alt="despacho" />
    <span>DESPACHO</span>

  </a>

  <a href="/Encomiendas/desembarque" id="detalle-contenedor-4">

    <img id="img-desembarque" src="/img/Encomiendas/desembarque.png" alt="desembarque" />
    <span>DESEMBARQUE</span>

  </a>

  <a href="/Encomiendas/entrega" id="detalle-contenedor-5">

    <img id="img-entrega" src="/img/Encomiendas/entrega.png" alt="entrega" />
    <span>ENTREGA</span>

  </a>

</div>