<link rel=StyleSheet href="/css/Encomiendas/listado.css" type="text/css" media=screen>
{{>navigation}}

<h2 id="tit"> LISTADO DE  ENCOMIENDAS </h2>

<body>
  <div id="main-container">
    <table>
      <thead>
        <tr>
          <th> Nº GUIA </th>
          <th> ORIGEN </th>
          <th> DESTINO </th>
          <th> CANTIDAD </th>
          <th> DETALLE </th>
          <th> PESO KG </th>
          <th> PRECIO </th>
          <th> ESTADO </th>
        </tr>
      </thead>

     <tr>
        <td> 1D48SD45 </td>
        <td> Guayaquil </td>
        <td> Quito </td>
        <td> 4 </td>
        <td> Paquete mediano </td>
        <td> 2 </td>
        <td> 3.00 </td>
        <td> Ingresado </td>
     </tr>
     <tr>
        <td> S8SD8S8D </td>
        <td> Machachi </td>
        <td> Quito </td>
        <td> 1 </td>
        <td> Sobre manila </td>
        <td> 1 </td>
        <td> 2.50 </td>
        <td> Despachado </td>
     </tr>
     <tr>
        <td> 8DF8D46W </td>
        <td> Quito </td>
        <td> Loja </td>
        <td> 4 </td>
        <td> Bobinas </td>
        <td> 20 </td>
        <td> 45.00 </td>
        <td> En camino </td>
     </tr>
      <tr>
        <td> 35A9D7G </td>
        <td> Guayaquil </td>
        <td> Duran </td>
        <td> 3 </td>
        <td> Caja grande </td>
        <td> 10 </td>
        <td> 12.00 </td>
        <td> Entregado </td>
     </tr>
    
    </table>
  </div>
</body>