<link rel="stylesheet" href="/css/navigation.css" />

<div id="child-nav-container">

  <div id="container-1">
    <div id="img-logo">

      <div>
        <div>
          <img width="40" src="/img/logo_fondo_negro.jpg" alt="" />
          <a href="#">
            Tickets
          </a>
        </div>
      </div> 

    </div>
  </div>

  <div id="container-2">
    <div>
      <a href="/" id="inicio">
        Inicio
      </a>
    </div>
    <div>
      <a href="/ticket" id="bus">
        Nosotros
      </a>
    </div>
    <div>
      <a href="/coop" id="datalle">
        Cooperativas
      </a>
    </div>
  </div>
  <div id="container-3">

    <div>
      <a href="/login">
        Iniciar Sesión
      </a>
    </div>

    <div>
      <a href="/register">
        Registrarse
      </a>
    </div>
  </div>
</div>