#container{
    padding: 2rem;

}


#title{
    font-weight: bold;
    text-align: center;
}

#detail{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#form-unable{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#form-unable>div{
    width: 20%;
}


#btn-reserve{
    border: 1px solid grey;
    border-radius: 5px;
    padding: 0.5rem;
    width: 15vw;
    background-color: white;
    text-align: center;
    text-decoration: none;
    color: black;
}

#btn-reserve:hover{
    border: 1px solid white;
    background-color: grey;
    color: white;
}

#btn-reserve:focus{
    outline: none;
}



#catalog {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 25px;
    padding: 1.5rem;
}


#card {
    width: 240px;
    text-align: center;
    margin: auto;
}

#text-container {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    padding: 120px 20px 20px 20px;
    border-radius: 20px;
    background: #fff;
    margin: -120px 0px 0px 0px;
    line-height: 19px;
    font-size: 14px;
    text-align: start;
}

#card-container {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    padding: 1rem;
    border-radius: 20px;
    background: #fff;
    line-height: 19px;
    font-size: 14px;
    text-align: start;
}

#card-container h3 {
    margin: 20px 0px 10px 0px;
    color: #06283d;
    font-size: 18px;
    text-align: center;
}

#text-container h3 {
    margin: 20px 0px 10px 0px;
    color: silver;
    font-size: 18px;
    text-align: center;
}

#card-not-found{
    border: 1px solid black;
    padding: 2rem;
    font-weight: bold;
    border-radius: 20px;
    margin: 20px;
    text-align: center;
    font-size: 1.2rem;
}

#detail-coop{
    display: flex;
    flex-direction: column;
}
#dtl{
    margin: 5px 0 ;
}

#catalog-list {
    border: 1px solid black;
    padding: 0;
    border-radius: 5px;
    margin: 20px;
    text-align: center;
}

#catalog-list-title{
    display: flex;
    flex-direction: row;
    padding: 1.5rem 2rem;
    justify-content: space-evenly;
    background: silver;
}

#catalog-list-title > p {
    width: 20%;
    margin-bottom: 0;
}
#catalog-list-title > span {
    width: 25%;
    margin-bottom: 0;
}

#catalog-list-item{
    display: flex;
    flex-direction: row;
    padding: 1.5rem 2.5rem;
    justify-content: space-evenly;
    align-items: center;
}

#catalog-list-item > p {
    width: 20%;
    margin-bottom: 0;
}
#catalog-list-item > span {
    width: 25%;
    margin-bottom: 0;
}
#catalog-list-item-not{
    display: flex;
    flex-direction: row;
    padding: 1.5rem 2.5rem;
    justify-content: space-evenly;
    align-items: center;
}


#btn-reserve-see{
    border: 1px solid grey;
    border-radius: 5px;
    padding: 0.5rem;
    background-color: white;
    text-align: center;
    text-decoration: none;
    color: black;

}

#btn-reserve-see:hover{
    border: 1px solid white;
    background-color: grey;
    color: white;
}

#btn-reserve-see:focus{
    outline: none;
}


#btn-unable{
    border: 1px solid steelblue;
    border-radius: 5px;
    padding: 0.5rem;
    background-color: white;
    text-align: center;
    text-decoration: none;
    color: steelblue;
}

#btn-unable:hover{
    border: 1px solid steelblue;
    background-color: steelblue;
    color: white;
}

#btn-reserve-see:focus{
    outline: none;
}

#form-input{
    border: 1px solid black;
    padding: 0.5rem;
    border-radius: 5px;
    background: white;
}

#displayBtn {
    display: flex;
    justify-content: flex-end;
    gap: 15px;

}

#btnReserve{
    border: 2px solid cornflowerblue;
    border-radius: 5px;
    padding: 0.5rem;
    background-color: white;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: cornflowerblue;
}


#btnReserve:hover{
    border: 1px solid cornflowerblue;
    background-color: cornflowerblue;
    color: white;
}

#btnRetry{
    border: 2px solid slateblue;
    border-radius: 5px;
    padding: 0.5rem;
    background-color: white;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: slateblue;
}

#btnRetry:hover{
    border: 1px solid slateblue;
    background-color: slateblue;
    color: white;
}