<link rel="stylesheet" href="/css/dashboard/dashboard.css">
<link rel="stylesheet" href="/css/index.css" />



{{>navigationUser}}
<header>
  <div id="header-img-container-ticket">
    <div id="over">
      <div>
        <h1>Reserva tu ticket.</h1>
        <p id="h3">
          en cualquier
          <strong>lugar</strong>
          y en cualquier
          <strong>momento</strong>

        </p>
        <p id="my-4">
          <a href="./reserve" id="btn btn-success btn-block">Reservar Ahora</a>
        </p>
      </div>

    </div>

  </div>
</header>

<section id="container txt-header-socio text-center">
  <div id="body-inicio">
    <h3>Al reservar con nosotros</h3>
  </div>
  <div id="body-inicio">
    <div>
      <div>
        <img
          src="/img/iconos-inicio/ingreso.png"
          width="80"
          alt="icono de boleto"
        />
      </div>
      <div>
        <p>
          <b>
            Tus reservas
          </b>
          <br />
          son seguras.
        </p>
      </div>
    </div>
    <div>
      <div>
        <img
          src="/img/iconos-inicio/reloj.jpg"
          width="80"
          alt="icono de boleto"
        />
      </div>
      <div>
        <p>
          <b>
            Saber
          </b>
          <br />
          tu hora de viaje.
        </p>
      </div>
    </div>
    <div>
      <div>
        <img
          src="/img/iconos-inicio/bus.jpg"
          width="80"
          alt="icono de boleto"
        />
      </div>
      <div>
        <p>
          <b>
            Revisar
          </b>
          <br />
          toda la información del bus.
        </p>
      </div>
    </div>
    <div>
      <div>
        <img
          src="/img/iconos-inicio/coop.jpg"
          width="80"
          alt="icono de boleto"
        />
      </div>
      <div>
        <p>
          <b>
            Realizar
          </b>
          <br />
          un checking de tu equipaje.
        </p>
      </div>
    </div>

  </div>
</section>
