#contenedor{
    position: absolute;
    top: 13%;
    left: 1%;
    width: 100%;
    height: 100%;
    max-width: 98%;
    max-height: 87%;
}

.row{
    gap: 1%;
    width: 100%;
    row-gap: 20px;
}

#tarjeta{
    width: 100%;
    height: 100%;
    text-align: center;
    max-width: 23%;
    max-height: 55%;
    border-radius: 20px;
    background-color: white;
    margin-left: 1%;
}

#Editar img,
#Agregar img,
#Eliminar img,
#pedidos img{
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#Eliminar{
    width: 3%;
    position: absolute;
    margin-top: -3%;
    margin-left: 5%;
}

#Agregar{
    width: 2%;
    position: absolute;
    margin-top: -3%;
    margin-left: 20%;
}

#pedidos{
    width: 2%;
    position: absolute;
    margin-top: -3%;
    margin-left: 12%;  
}

#Editar{
    width: 12%;
    margin-left: 1%;
}

#Nproveedor{
    padding-top: 1%;
    width: 100%;
}

#NOMBRES{
    padding-top: 2%;
    width: 100%;
}

#DIRECCION{
    padding-top: 2%;
    width: 100%;
}

#CELULAR{
    padding-top: 2%;
    width: 100%;
}

#TELEFONO{
    padding-top: 2%;
    width: 100%;
}

#ESTADO{
    display: none;
}

input{
    width: 100%;
    border-color: transparent;
}