<link rel=StyleSheet href="/css/login/login.css" type="text/css" media=screen>
{{>navigation}}
<div id="contenedor">
  <form action="/login" method="POST" id="form-login">
      <img src="/img/logo_fondo_negro.jpg" id="logo-login" alt="logo" />
      <span id="title-login">Tickets Bus</span>
      <span id="subtitle-login">Reservar nunca fué tan fácil</span>
      <hr id="separate">
    {{>message}}

        <div id="form-group">
          <input type="text" id="input-group-user" name="username" placeholder="Email">
          <input type="password" id="input-group-pass" name="password" placeholder="Contraseña">
          <button type="submit" id="boton">Ingresar</button>
              <a href="./register" id="redirec-register">Crear una cuenta</a>
        </div>
  </form>
</div>