<LINK REL=StyleSheet HREF="/css/login/login.css" TYPE="text/css" MEDIA=screen>
<div id="imegen">
</div>
<form action="/Login" method="POST" id="ingresar">
  <div id="contenedor">
    <div>
      <p>Login</p>
    </div>
    <div id="usuarios">
      <label id="Usuario">Cedula:</label>
      <input type="text" id="Nombre" name="username">
    </div>
    <div id="contrase単as">
      <label id="contrase単a">Contrase単a: </label>
      <input type="password" id="Contrase単a" name="password">
    </div>
    <div>
      <button type="submit" id="boton"><img src="/img/flechaIzquierda.png" id="flecha"></button>
    </div>
  </div>
</form>
<button id="sesion"><a href="/Registro">Registro</a></button>