<LINK REL=StyleSheet HREF="/css/login/registro.css" TYPE="text/css" MEDIA=screen>
<div id="imegen">
</div>
<form action="/Registro" method="POST">
  <div id="contenedor">
    <div>
      <p>Registra tu Cedula y una Contraseña</p>
    </div>
    <div id="usuarios">
      <label id="Usuario">Cedula:</label>
      <input type="text" id="Nombre" name="username">
    </div>
    <div id="contraseñas">
      <label id="contraseña">Contraseña: </label>
      <input type="password" id="Contraseña" name="password">
    </div>
   <div>
      <button type="submit" id="boton"><img src="/img/guardar.png" id="guardar"></button>
    </div>
  </div>
</form>