<link
  rel="StyleSheet"
  href="/css/login/registro.css"
  type="text/css"
  media="screen"
/>
{{>navigation}}

<div id="container">

  <form action="/register" method="POST" id="form-register">
    <img src="/img/logo_fondo_negro.jpg" id="logo-register" alt="logo" />
    <span id="title-register">Tickets Bus</span>
    <span id="subtitle-register">Reservar nunca fué tan fácil</span>
    <hr id="separate" />
    {{>message}}
    <div id="form-group">
      <input
        type="text"
        id="input-group-user"
        name="username"
        placeholder="Email"
      />
      <input
        type="password"
        id="input-group-pass"
        name="password"
        placeholder="Contraseña"
      />
      <button type="submit" id="btnRegister">Registrarse</button>
      <a href="./login" id="redirec-login">Iniciar Sesión</a>
    </div>
  </form>
</div>
