<link rel="stylesheet" href="">
<form action="/tipoIdentificacion/agregar/{{user.idUsuarios}}" method="post">
<div id="contenedor">
    <div id="titulo">
        <p>Agregar Tipo Identificaci贸n</p>
    </div>
    <div id="NombreTipoIdentificacion">
        <label>Nombre Tipo Identificaci贸n:</label>
        <input type="text" name="nombreTipoIdentificacion" id="nombreTipoIdentificacion" required>
    </div>
    <div id="CodigoTipoItentificacion">
        <label>Codigo Tipo Identificaci贸n:</label>
        <input type="text" name="codigoTipoItentificacion" id="codigoTipoItentificacion" required>
    </div>
    <div id="EstadoTipoIdentificacion">
        <label>Estado Tipo Identificaci贸n:</label>
        <input type="text" name="estadoTipoIdentificacion" id="estadoTipoIdentificacion" required>
    </div>
    <div id="boton">
        <button type="submit">Guardar</button>
    </div>
</div>
</form>