#f1{
    position: absolute;
    top: 15%;
    left: 27%;
    width: 100%;
    height: 100%;
    background-color: white;
    max-width: 550px;
    max-height: 450px;
    border: transparent;
    box-shadow: 0 0 10px rgb(147, 175, 252);
    border-radius: 4px;
}
input {
    border: 1px solid #0d6efd;
    border-radius: 4px;
}
input:focus {
    outline: none;
}
label{
    margin-left: 20px;
    color: #0a1b2e;
}

#p{
    text-align: center;
    font-size: 35px;
    color: #0a1b2e;
}

#lblncedula{
    position: absolute;
    top: 16%;
}

#username{
    position: absolute;
    left: 245px;
}

#lblnprovedor{
    position: absolute;
    top: 32%;
}

#Nombres{
    position: absolute;
    left: 245px;
}

#lbldireccion{
    position: absolute;
    top: 48%;
}

#Direccion{
    position: absolute;
    left: 245px;
}


#lblnumero{
    position: absolute;
    top: 64%;
}

#Numero{
    position: absolute;
    left: 245px;
}

#lblcodigo{
    position: absolute;
    top: 80%;
}

#telefono{
    position: absolute;
    left: 245px;
}

#guardar1{
    position: absolute;
    top: 91%;
    width: 100%;
    background-color: #051e38;
    color: white;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #4257fa 100%);
    border-color: transparent;
    border-radius: 2px;
}
#guardar1:focus{
    outline: none;
}
#guardar1:hover{
    background-image: radial-gradient(100% 100% at 100% 0, #63dcfd 0, #949ff7 100%);    
}

@media (max-width: 1024px) {
    #f1{
        top: 3%;
    }
}


@media (max-width: 600px) {
    #f1{
        left: 17%;
    }
}