body {
  color: #06283d;
  background: #f1f1f1;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  width: 100vw;
  height: 100vh;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600&display=swap");



@media (max-width: 840px) {
  #contenedors {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: initial;
    height: auto;
  }
}

@media (max-width: 600px) {
  #contenedors {
    grid-template-columns: repeat(1, 1fr);
    height: auto;
  }
}

body, input {
  color: #171717;
}

input:focus{
  outline: none;
}

#containerMenu{
  padding: 1.5rem;
  border: 1px solid black;
  border-radius: 5px; 
  width: 100% !important;
}
#titleMenu{
  font-weight: bold;
  font-size: 1.2rem;
}