
#child-nav-container {
  display: flex;
  width: 100vw;
  justify-content: space-around;
  background-color: #fff7f7;
  margin-bottom: 0.5rem 0;
}

#child-nav-container > div {
  display: flex;
  margin: 10px;

}

#container-1 > div,
#container-2 > div,
#container-3 > div {
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#child-nav-container a {
  text-decoration: none;
  margin: 0;
  color: #1a1a1a;
  font-weight: 400;
}

#child-nav-container a:hover {
  color: #222222;
  font-weight: 500;
}
